# dependencies
node_modules/
.pnp/
.pnp.js

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock

# Android
android/app/build/
android/app/debug/
android/app/release/
android/build/
android/captures/
android/gradle/
android/local.properties
android/.gradle/

# testing
/coverage
/__tests__/__snapshots__/
/__tests__/fixtures/

# environment variables
.env
.env.*
!.env.example

# firebase
firebase-debug.log
firebase-debug.*.log
firebase_config.json
GoogleService-Info.plist
google-services.json

# build outputs
*.aab
*.apk
*.ipa

# misc
.DS_Store
*.log
logs/
*.log.*
.vercel
.next
.serverless
tmp/
temp/
eas.json

# TypeScript
*.tsbuildinfo
