<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85339006592-oe2n2n96tps7j6nve4elsqq0ah488rso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85339006592-oe2n2n96tps7j6nve4elsqq0ah488rso</string>
	<key>API_KEY</key>
	<string>AIzaSyBv05gfjQc4kwkQjghJawHFW1dPGzezsbc</string>
	<key>GCM_SENDER_ID</key>
	<string>85339006592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hammer.threechords</string>
	<key>PROJECT_ID</key>
	<string>chords-90522</string>
	<key>STORAGE_BUCKET</key>
	<string>chords-90522.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85339006592:ios:a9890c2e6e3b7910bc2865</string>
</dict>
</plist>